/* header section start */

.logo {
  background-color: #e32222;
  display: inline-block;
}
.logo img {
  max-height: 40px;
  width: auto;
  border: 0;
  vertical-align: middle;
  margin: 25px 0px 0px 130px;
  max-width: 100%;
}
.nav ul {
  display: flex;

  list-style: none;
}
.nav ul li a {
  text-decoration: none;
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #313437;
  margin: 40px 15px 0px 15px;
  /* margin: 30px 0 0 0; */
  position: relative;
  display: block;
  /* padding: 3px 6px; */
}
.nav ul li .active {
  color: #e32222;
}
.nav ul li a:hover {
  color: #e32222;
}
.search {
  margin-top: -8px;
  margin-left: 20px;
}
.search-icon:hover {
  background-color: #e32222;
}
.search-icon {
  height: 35px;
  line-height: 40px;
  width: 35px;

  background-color: #313437;
  display: inline-block;
  font-size: 14px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}
.search-icon i {
  color: #fff;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1a1a1a;
  min-width: 160px;
  box-shadow: 0px 10px 40px rgb(0 0 0 / 20%);
  padding-bottom: 15px;
  top: auto;
  border-top: 3px solid #e32222;
  text-align: left;
  line-height: 14px;
  background-clip: padding-box;
  transition: all 0.2s ease;
  z-index: 99;
  width: 250px;
  text-transform: uppercase;
  z-index: 1;
}
.dropdown-content.dropdown-content a {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  margin: 20px 0 0 28px;
  position: relative;
}
.dropdown-content.dropdown-content a {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;

  padding: 4px;
  transition: all 0.6s ease-out;
  display: block;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content.dropdown-content a:hover {
  background-color: white;
  height: auto;
  background-position: left;
  width: 250px;
  left: -11%;
  text-align: center;
}

/* second header start */
.secong-head {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}
.secong-head img {
  max-width: 100%;
  width: 250px;
}
.secong-head .bar-icon {
  font-size: 25px;
  padding: 30px;
}
.secomd-nav {
  border-top: 3px solid #e32222;
  background-color: #313437;
  padding-bottom: 10px;
}
.secomd-nav ul {
  list-style: none;
  margin-top: 10px;
}
.secomd-nav ul li a {
  text-decoration: none;
  color: #fff;
}
.secomd-nav hr {
  border: 1px solid #fff;
}
.secomd-nav .services {
  display: flex;
  justify-content: space-between;
}
.secomd-nav .services i {
  color: #fff;
  margin-right: 30px;
}

#box {
  display: none;
}

/* header section end */

/* footer section start */

.phone-icon {
  height: 80px;
  line-height: 90px;
  width: 80px;

  background-color: #e32222;
  display: inline-block;
  font-size: 14px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}
.phone-icon i {
  color: #fff;
  font-size: 35px;
}
.phone-text {
  margin-top: 10px;
}
.phone-text h5 {
  color: #fff;
}
.phone-text a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.footer-logo img {
  max-width: 100%;
  width: 250px;
}
.footer-mid p {
  color: rgba(255, 255, 255, 0.7);
}

.footer-icon {
  display: flex;
  list-style: none;
  column-gap: 35px;
}
.footer-icon li {
  border: 1px solid #666;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin-top: 30px;
}
.footer-icon li:hover {
  border: 1px solid #fff;
}

.footer-icon a {
  color: #fff;
}
.category-line {
  border: 1px solid #e32222;
  width: 40px;
  margin-top: 30px;
}
.categories li {
  list-style: none;
  padding-top: 15px;
}
.categories li a {
  text-decoration: none;
  color: #fff;
}
.categories li a:hover {
  color: #e32222;
}
.tag-line {
  border: 1px solid #e32222;
  width: 40px;
  margin-top: 30px;
}
/* .household-btn {
  background-color: #fff;
} */
.household {
  margin-right: 56px;
}
.transport {
  margin-right: 73px;
}
.household-btn a {
  text-decoration: none;
  background-color: #fff;
  color: #313437;
  font-size: 14px !important;
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  display: inline-block;
  color: #313437;
  padding: 10px 20px;
  margin-bottom: 6px;
  /* margin-left: 10px; */
  background: #f1f1f1;
}
.household-btn a:hover {
  background: #e32222;
  color: #fff;
}
.newslatter {
  padding: 20px 10px 0 0;
}
.footer-mid hr {
  margin-top: 100px;
}
.footer-end {
  margin: 50px;
  text-align: center;
}
/* footer section end */
#menucontent {
  display: none;
}
.toggleicon {
  margin-right: 30px;
  cursor: pointer;
  text-decoration: none;
  color: #1a1a1a;
  font-size: 20px;
  padding: 20px;
}
#content {
  display: none;
  display: fixed;

  color: #fff;
  margin-left: -1350px;
}
