/* header section start */

@media (max-width: 1270px) {
  .f-head {
    display: none;
  }
}
.f-head {
  transition: 0.3s;
}
.sticky {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
  padding-bottom: 10px;
}
.logo.active {
  background-color: #fff;
}
.logo {
  background-color: #e32222;
  display: inline-block;
}
.logo img {
  max-height: 40px;
  width: auto;
  border: 0;
  vertical-align: middle;
  margin: 25px 0px 0px 130px;
  max-width: 100%;
}
.nav ul {
  display: flex;

  list-style: none;
}
.nav ul li a {
  text-decoration: none;
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #313437;
  margin: 40px 15px 0px 15px;
  position: relative;
  display: block;
}
.nav ul li .active {
  color: #e32222;
}
.nav ul li a:hover {
  color: #e32222;
}
.search {
  margin-top: -8px;
  margin-left: 20px;
}
.search-icon:hover {
  background-color: #e32222;
}
.search-icon {
  height: 35px;
  line-height: 40px;
  width: 35px;

  background-color: #313437;
  display: inline-block;
  font-size: 14px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}
.search-icon i {
  color: #fff;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1a1a1a;
  min-width: 160px;
  box-shadow: 0px 10px 40px rgb(0 0 0 / 20%);
  padding-bottom: 15px;
  top: auto;
  border-top: 3px solid #e32222;
  text-align: left;
  line-height: 14px;
  background-clip: padding-box;
  transition: all 0.2s ease;
  z-index: 99;
  width: 250px;
  text-transform: uppercase;
  z-index: 1;
}
.dropdown-content.dropdown-content a {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  margin: 20px 0 0 28px;
  position: relative;
}
.dropdown-content.dropdown-content a {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;

  padding: 4px;
  transition: all 0.6s ease-out;
  display: block;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content.dropdown-content a:hover {
  background-color: white;
  height: auto;
  background-position: left;
  width: 250px;
  left: -11%;
  text-align: center;
}

/* second header start */

.navbar2 {
  transition: 0.3s;
}

.second-head {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}

@media (min-width: 1280px) {
  .second-head {
    display: none;
  }
}

@media (min-width: 0px) and (max-width: 1280px) {
  .second-navbar {
    width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 412px) {
  .second-head {
    width: 100%;
    column-gap: 50px;
  }
}

@media (min-width: 0px) and (max-width: 1280px) {
  .second-navbar {
    margin-top: auto;
  }
}

.second-head img {
  max-height: 40px;
  width: auto;
  border: 0;
  vertical-align: middle;
  margin: 25px 0px 0px 110px;
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .second-head img {
    margin: 20px 0 0 0;
    height: auto;
  }
}
.second-head .bar-icon {
  font-size: 25px;
  padding: 30px;
}
@media (min-width: 0px) and (max-width: 412px) {
  .second-head .bar-icon {
    padding: 0;
  }
}
.second-nav {
  border-top: 3px solid #e32222;
  background-color: #313437;
  padding-bottom: 10px;
}
.second-nav ul {
  list-style: none;
  margin-top: 10px;
}
.second-nav ul li a {
  text-decoration: none;
  color: #fff;
}
.second-nav hr {
  border: 1px solid #fff;
}
.second-nav .services {
  display: flex;
  justify-content: space-between;
}
.second-nav .services i {
  color: #fff;
}

.second-nav-icon-search i {
  color: #1a1a1a;
}

#box {
  display: none;
}
#menucontent {
  display: none;
}
@media (min-width: 0px) and (max-width: 280px) {
  .second-nav-icon-search {
    margin: 0 90px 0 0;
  }
}
.second-nav-icon {
  text-align: end;
}
.toggleicon {
  cursor: pointer;
  text-decoration: none;
  color: #1a1a1a;
  font-size: 20px;
  padding: 20px;
}
#content {
  display: none;
  display: fixed;

  color: #fff;
  margin-left: -1350px;
}
@media (min-width: 0px) and (max-width: 1280px) {
  #content {
    margin-left: auto;
  }
}
/* third header start */
@media (max-width: 1270px) {
  .navbar3 {
    display: none;
  }
}

.navbar3 {
  transition: 0.3s;
}
.logo3 {
  display: inline-block;
}
.logo3 img {
  max-height: 40px;
  width: auto;
  border: 0;
  vertical-align: middle;
  margin: 25px 0px 0px 130px;
  max-width: 100%;
}
/* header section end */

/* modal start */
.modal-content {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  z-index: 100001;
  transition: all 300ms;
  transform: translateY(0);
  display: block;
}
.cancel-icon i {
  font-size: 30px;
  color: #fff;
}
.cancel-icon {
  text-align: end;
  margin-right: 20px;
}

.input-box {
  position: relative;
  height: 76px;
  width: 60%;
  background: #fff;
  left: 20%;
  margin-top: 3%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

@media (min-width: 0px) and (max-width: 768px) {
  .modal-img img {
    width: 100%;
    margin-top: 100px;
  }
}
.modal-img {
  max-width: 100%;
  margin-top: 15%;
}
.input-box .button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  border: none;
  padding: 0 155px 0 20px;
  background-color: transparent;
}
.input-box .button {
  right: 10px;
  font-size: 16px;
  color: #fff;
  border: none;
  padding: 23px 30px;
  background-color: #313437;
  cursor: pointer;
}

/* Responsive */
@media screen and (max-width: 500px) {
  .input-box {
    height: 66px;
    margin: 20px 8px;
  }

  .input-box input {
    padding: 0 112px 0 50px;
  }
  .input-box .button {
    right: 4px;
    font-size: 14px;
    padding: 8px 18px;
  }
}

/* modal section end */
/* footer section start */

.phone-icon {
  height: 80px;
  line-height: 90px;
  width: 80px;

  background-color: #e32222;
  display: inline-block;
  font-size: 14px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}
.phone-icon i {
  color: #fff;
  font-size: 35px;
}
.phone-text {
  margin-top: 10px;
}
.phone-text h5 {
  color: #fff;
}
.phone-text a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

@media (min-width: 0px) and (max-width: 768px) {
  .footer-div {
    width: 100%;
    margin-top: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .footer-div {
    width: 33.33%;
    margin-top: 20px;
  }
}
@media (min-width: 0px) and (max-width: 1280px) {
  .footer-cate {
    width: 50%;
    margin-top: 20px;
  }
}

.footer-logo img {
  max-width: 100%;
  width: 250px;
}
.footer-mid p {
  color: rgba(255, 255, 255, 0.7);
}

.footer-icon {
  display: flex;
  list-style: none;
  column-gap: 35px;
}
.footer-icon li {
  border: 1px solid #666;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin-top: 30px;
}
.footer-icon li:hover {
  border: 1px solid #fff;
}

.footer-icon a {
  color: #fff;
}

.hover-icon-box {
  background-color: #231d1d80;
  display: none;
  margin-top: -80px;

  border-radius: 5px;
  color: #fff;
  text-align: center;
  text-align: center;
  padding: 10px 80px 0px 20px;
}
a {
  text-decoration: none;
}
.hover-icon-box p {
  margin-top: -5px;
  text-decoration: none;
  font-family: "Nunito Sans", Tahoma, Geneva, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.hover-icon:hover + .hover-icon-box {
  display: block;
}

.category-line {
  border: 1px solid #e32222;
  width: 40px;
  margin-top: 30px;
}
.categories li {
  list-style: none;
  padding-top: 15px;
}
.categories li a {
  text-decoration: none;
  color: #fff;
}
.categories li a:hover {
  color: #e32222;
}
.tag-line {
  border: 1px solid #e32222;
  width: 40px;
  margin-top: 30px;
}

.household {
  margin-right: 56px;
}
.transport {
  margin-right: 73px;
}
.household-btn a {
  text-decoration: none;
  background-color: #fff;
  color: #313437;
  font-size: 14px !important;
  margin-bottom: 10px;

  position: relative;
  display: inline-block;
  color: #313437;
  padding: 8px 20px;
  margin-bottom: 6px;

  background: #f1f1f1;
}
.household-btn a:hover {
  background: #e32222;
  color: #fff;
}

.footer-mid hr {
  margin-top: 100px;
}
.footer-end {
  margin: 50px;
  text-align: center;
}
/* footer section end */

/* home page start */
/* hero section start */
.back-red {
  background-color: #e32222;
  display: inline-block;
  height: 83vh;
  width: 506px;
  border: 0;
  vertical-align: middle;
  position: relative;
  max-width: 100%;
}

.hero-slide {
  position: relative;
  display: inline-block;
}

.slide {
  max-width: 100%;
}
.slide-btn button {
  margin-top: 600px;
  margin-left: 66px;
  margin-right: 1200px;
}
.btn1 {
  background-color: white;
  color: #1a1a1a;
  padding: 40px;
}
.btan1 span {
  color: #1a1a1a;
}
/* hero section end */

/* home page end */

/* quote page start */

.quote {
  background-color: #efefef;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  padding: 40px 0 40px 0;
  height: 50vh;
  width: 100%;
  top: 0;
  left: 0;
}
@media (min-width: 0px) and (max-width: 1280px) {
  .quote {
    margin-top: 40px;
  }
}
.quote-text h1 {
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
  font-family: "Biryani", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  margin-top: 13vh;
}
.quote .breadcrumb-wrapper-inner span i {
  color: rgba(0, 0, 0, 0.6);
}

.request-quote p {
  font-family: "Biryani", Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #e22222;
  margin: 100px 0 0 20px;
}
.request-quote h1 {
  font-family: "Biryani", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 55px;
  color: #313437;
  margin: 0 0 0 20px;
}
.form-control {
  margin-top: 20px;
  border-radius: 0%;
  padding: 15px;
  max-height: 100%;
}

.send-btn {
  background-color: #e32222;
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 16px 34px 16px;
  border-radius: 0;
  text-transform: uppercase;
  border: none;
  color: #fff;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  cursor: pointer;
  outline: none !important;
  -webkit-font-smoothing: antialiased;
  margin-top: 20px;
}

.quote-img img {
  max-width: 100%;
  padding: 60px 60px 0 0;
  height: 500px;
  margin: 100px;
}
@media (min-width: 0px) and (max-width: 1280px) {
  .quote-img img {
    margin: auto;
  }
}
.alert-box {
  background-color: #313437;
  display: none;
  margin-top: -110px;
  padding: 1px 0 1px 0;
  border-radius: 5px;
  color: #fff;
  margin-left: 20px;
  text-align: center;
  height: 30px;
  width: 150px;
}
.alert-box p {
  margin-top: 2px;
}
.hover-element:hover + .alert-box {
  display: block;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hover-text {
    width: 50%;
    margin-top: 30px;
  }
}
@media (min-width: 0px) and (max-width: 1280px) {
  .hover-element img {
    max-width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .alert-box {
    margin-top: -80px;
  }
}
/* quote page end */
/* project page start */
.project-section-div {
  padding: 80px;
}
@media (min-width: 0px) and (max-width: 1024px) {
  .project-section-div {
    padding: 0px;
  }
}

.projecrfirst {
  margin-top: 0px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .projecrfirst {
    margin-top: 40px;
  }
}

.office-removel img {
  max-width: 100%;
  width: 420px;
}
.office-removel-text {
  text-align: center;
  background-color: #f3f3f3;
  border-top: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.office-removel-text a {
  color: #313437;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}
.office-removel-text h3 {
  font-family: "Biryani", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  color: #313437;
  outline: none;
}
@media (min-width: 0px) and (max-width: 280px) {
  .office-removel-text h3 {
    font-size: 14px;
  }
}
.plus-icon {
  background-color: #e32222;
  height: 45px;
  line-height: 45px;
  width: 45px;
  color: #efefef;
  display: inline-block;
  font-size: 14px;
  border-radius: 50%;
  text-align: center;
  margin-top: -24px;
  position: absolute;
  margin-left: -24px;
}
.plus-icon:hover {
  background-color: #313437;
}

@media (min-width: 0px) and (max-width: 1268px) {
  .projects-div {
    margin-top: 40px;
  }
}

/* project page end */

/* contact-us page section start */

.contact-map iframe {
  width: 1600px;
  height: 400px;
  border: 0;
  max-width: 100%;
}
.contact-phone-icon {
  height: 100px;
  line-height: 120px;
  width: 100px;

  background-color: #e32222;
  display: inline-block;
  font-size: 14px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}
.contact-phone-icon i {
  color: #fff;
  font-size: 45px;
}
.contact-phone-text h5 {
  font-family: "Biryani", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #313437;
  padding-top: 20px;
}
.contact-phone-text p {
  font-family: "Nunito Sans", Tahoma, Geneva, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #777777;
}
.contact-phone-text p a {
  font-family: "Nunito Sans", Tahoma, Geneva, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #777777;
  text-decoration: none;
}
.form-section p {
  font-family: "Biryani", Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #e22222;
}
.form-section h2 {
  font-family: "Biryani", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 55px;
  color: #313437;
}
.form-contant {
  padding: 20px 250px 0 250px;
}
@media (min-width: 0px) and (max-width: 1280px) {
  .form-contant {
    padding: 0 0 0 0;
  }
}
.send-btan {
  background-color: #e32222;
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 16px 34px 16px;
  border-radius: 0;
  text-transform: uppercase;
  border: none;
  color: #fff;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  cursor: pointer;
  outline: none !important;
  -webkit-font-smoothing: antialiased;
}

.send-btn:hover {
  background-color: #313437;
}
/* contact-us page  section end*/

/*  about page start */
.about-fdiv {
  padding: 40px;
}
@media (min-width: 0px) and (max-width: 1024px) {
  .about-fdiv {
    padding: 0px;
  }
}
.about-fdiv h4 {
  font-family: "Biryani", Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #e22222;
}
.about-fdiv h2 {
  font-family: "Biryani", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 55px;
  color: #313437;
}
.about-fdiv p {
  font-family: "Nunito Sans", Tahoma, Geneva, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #777777;
  margin-top: 10px;
}
.about-fdiv img {
  width: 100%;
  margin-top: 40px;
}
.about-sdiv {
  padding: 40px;
}
@media (min-width: 0px) and (max-width: 1024px) {
  .about-sdiv {
    padding: 0px;
  }
}
.about-sdiv img {
  width: 100%;
  margin-left: 30px;
}
@media (min-width: 0px) and (max-width: 1024px) {
  .about-sdiv img {
    margin-left: auto;
    padding-top: 20px;
  }
}
.about-sdiv h5 {
  font-family: "Biryani", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #313437;
  margin-left: 30px;
  padding-top: 20px;
}

.about-seconds ul {
  list-style: none;
}
.about-seconds ul li i {
  font-size: 15px;
  font-weight: bold;
  top: 4px;
  color: #e32222;
}
.about-seconds ul li {
  padding-top: 10px;
}
.about-seconds ul li span {
  font-family: "Nunito Sans", Tahoma, Geneva, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #777777;
  display: inline-block;
  padding-left: 25px;
}

@media (min-width: 600px) and (max-width: 800px) {
  .about-seconds {
    width: 50%;
  }
  .about-seconds ul li span {
    font-size: 10px;
  }
}

.counter-number {
  text-align: center;
}
.counter-number h4 {
  font-family: "Biryani", Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #e22222;
}
.counter-number h2 {
  font-family: "Biryani", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 55px;
  color: #313437;
}
.counter-number-truck i {
  color: #e32222;
  font-size: 60px;
  content: "\f10c";
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 50px;
  text-align: center;
}
@media screen and (max-width: 420px) {
  .counter-container {
    margin: 0px 0px;
  }
}

.counter {
  font-size: 100px;
  line-height: 100px;
  font-weight: 900;
  color: #313437;
}
.counter-container span {
  font-size: 16px;
  line-height: 24px;
  color: #777;
  font-weight: 400;
}
.counterf {
  border-right-width: 1px !important;
  border-right-color: rgba(0, 0, 0, 0.1) !important;
  border-right-style: solid !important;
}

@media (min-width: 480px) and (max-width: 800px) {
  .counterf {
    width: 33.33%;
  }
  .counter {
    font-size: 50px;
  }
  .counter-container {
    margin: 0 0;
  }
}
.about-bg-image {
  background: url(/public/images/img-02.jpg);
  background-repeat: no-repeat !important;
  background-size: cover !important;
  padding-top: 180px !important;
  padding-bottom: 0px !important;
  background-position: center center !important;
  position: relative;
  left: 0px;
  box-sizing: border-box;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  height: 100vh;
}

.about-bg-fdiv {
  background: #313437;
}
.about-row {
  --bs-gutter-x: 0rem;
}
.about-bg-fdiv h4 {
  font-family: "Biryani", Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 1);
}
.about-bg-fdiv h2 {
  font-family: "Biryani", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 55px;
  color: #fff;
  padding-top: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .about-bg-fdiv h2 {
    font-size: 24px;
    padding-top: 0;
    line-height: 25px;
    text-align: center;
  }
  .about-bg-fdiv h4 {
    text-align: center;
  }
}
blockquote {
  color: #fff;
  padding-top: 40px;
}
@media (min-width: 0px) and (max-width: 1024px) {
  blockquote {
    padding-top: 0;
  }
}
.themestek-testimonial-text-flex {
  display: flex;
  column-gap: 25px;
}
.themestek-testimonial-text-flex {
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
}
.themestek-testimonial-text i {
  color: #e32222;
  font-size: 40px;
  font-weight: bold;
  margin-top: -5px;
}
.client-name {
  padding-left: 55px;
  padding-top: 40px;
}
.client-name h3 {
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 5px;
}
.client-name span {
  color: #e32222;
}
.about-bg-fdiv-content {
  padding: 100px 100px 100px 200px;
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .about-bg-fdiv-content {
    padding: 10px 0 10px 0;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .about-bg-fdiv-content {
    padding: 100px 20px 50px 20px;
  }
}
.carousel .carousel-indicators {
  margin-right: -80px;
}
@media (min-width: 0px) and (max-width: 1024px) {
  .carousel .carousel-indicators {
    margin-right: auto;
  }
}
.carousel .carousel-indicators button {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.wrapper {
  display: inline-block;
  margin-top: 10%;
  transform: translate(-50%, -50%);
  margin-left: 20%;
}
@media (min-width: 0px) and (max-width: 1024px) {
  .wrapper {
    margin-left: 30%;
    padding-top: 70px;
  }
}
.video-main {
  position: relative;
  display: inline-block;
}

.video {
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
  border-radius: 100%;
  background: transparent;
  color: #fff;
  display: inline-block;
  background: #fff;
  z-index: 999;
}

@keyframes waves {
  0% {
    -webkit-transform: scale(0.2, 0.2);
    transform: scale(0.2, 0.2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  50% {
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  }
  100% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}

.fa-play:before {
  content: "\f04b";
  color: #e32222;
}

.waves {
  position: absolute;
  width: 200px;
  height: 200px;
  background: #f0e7e7a1;
  opacity: 0;
  filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  border-radius: 100%;
  right: -50px;
  bottom: -50px;
  z-index: -1;
  -webkit-animation: waves 3s ease-in-out infinite;
  animation: waves 3s ease-in-out infinite;
}

.wave-1 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.wave-2 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.wave-3 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.team {
  text-align: center;
  margin-top: 100px;
}
.tbox {
  padding: 20px;
}
.team-img img {
  width: 100%;
  transition: all 0.5s ease;
}
.tbox:hover .team-img img {
  filter: opacity(0.6) drop-shadow(0 0 red);
}
.team h4 {
  font-family: "Biryani", Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #e22222;
  padding: 4px;
}
.team h1 {
  font-family: "Biryani", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 55px;
  color: #313437;
  padding: 4px;
}
.tbox h4 {
  margin-bottom: 5px;
  margin-top: 0;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  padding: 10px;
}
.tbox h4 a {
  color: #313437;
  text-decoration: none;
  outline: none;
  padding: 10px;
}
.tbox h4 a:hover {
  color: #e32222;
}
.tbox p {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #e32222;
}

.about-icon {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 10px;
}
.about-icon li {
  background-color: #f3f3f3;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  color: #979797;
  display: inline-block;
  font-size: 12px;
}
.about-icon li i {
  text-align: center;
  color: #979797;
  line-height: 40px;
  font-size: 12px;
}
.about-icon li:hover {
  background-color: #e22222;
}
.about-icon li:hover i {
  color: #fff;
}

/* about page end */
