.scroll-top {
  text-align: right;
}
.scroll-to-top {
  height: 60px;
  line-height: 80px;
  width: 60px;
  /* margin-left: 1400px; */
  background-color: #e32222;
  display: inline-block;
  font-size: 14px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}
.scroll-to-top i {
  color: #fff;
  font-size: 35px;
}
@media (min-width: 0px) and (max-width: 1280) {
  .scroll-to-top {
    margin-left: auto;
  }
}
